
  #page{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 88px;
  }

  img {
    border-radius: 28px;
    width: 100%;
    }

    ol {display: block;
    margin: 0;
    padding: 0;}
    
